@{
    Layout = "~/Views/Shared/_LayoutMe.cshtml";
    ViewBag.Tab = "About";
    ViewBag.Title = "About Hsin-Hao Tang | Autobiography";
    ViewBag.Description = "About Hsin-Hao Tang | Autobiography";
}
<style>
body.home #main {
    padding-top: 40px;
}
</style>
<div id="page-content" class="cf">
    <div class="entry-content cf">
        <h2 class="heading">自我介紹</h2>
        @*前言*@
        <p class="paragraph">
            我是前端工程師，擅長SEO & Social Media，也做部份後端工作。<br>
            閱讀更多資訊 <a href="/Me/About" title="About Hsin-Hao Tang">關於我(英文)</a> / <a href="/Me/Resume" title="Resume | Hsin-Hao Tang">履歷(英文)</a> / <a href="http://cythilya.blogspot.tw" title="Summer。桑莫。夏天" target="_blank">部落格</a>與<a href="/Me/Portfolio" title="Portfolio | Hsin-Hao Tang">作品集</a>。
        </p>
        <p class="paragraph preview">
            <img class="cover" src="https://goo.gl/TL6tBe" title="Hsin-Hao Tang" alt="Hsin-Hao Tang">
        </p>
        <div class="block-divider"></div>
        @*求學過程*@
        <h3 class="heading">求學過程</h3>
        <p class="paragraph">
            我畢業於國立台灣師範大學資訊工程研究所，大學就讀東吳大學資訊科學系。由於對於人工智慧的好奇與喜愛，而選擇進入<a href="http://www.csie.ntnu.edu.tw/~linss" title="林順喜教授" target="_blank">林順喜教授</a>的演算法與平行應用實驗室，從事相關的研究。
        </p>
        @*學校之內－專業累積、團隊合作*@
        <h4 class="heading">學校之內－專業累積、團隊合作</h4>
        <p class="paragraph">
            在求學生涯中，研究所的專業課程訓練（例如：高等演算法、生物資訊等）與論文撰寫讓我<span class="highlight">具備蒐集、整理與資料視覺化，進而分析資料、發現問題、提出解法並實作、追蹤後續成效的能力</span>。
            另外，我在專題研究或團體報告中大多扮演「主導」和「承上啟下」的角色。在主導方面負責策劃工作，從界面設計、流程制定到實際實作。在承上啟下方面負責進度的追蹤與回報，作為主導者與組員間的溝通橋樑，並適時補位。我<span class="highlight">重視時效、是否合乎目標，同時重視團隊利益</span>。在面對爭執時，合理尊重他人，絕不互相指責以避免情緒上的衝突，並引導爭執者直接面對面溝通，不透過他人傳遞訊息。
        </p>
        @*學校之外－多方學習、提高視野*@
        <h4 class="heading">學校之外－多方學習、提高視野</h4>
        <p class="paragraph">
            <span class="pullquote-right">
                <img width="100%" title="42nd TFG Percussion" alt="42nd TFG Percussion" src="https://lh4.googleusercontent.com/-fS8oht2Z3-Y/VF4k2b0a37I/AAAAAAAADa8/uxHyc0c-Byg/w401-h255-no/tfg_per.jpg">
            </span>
            <p>
                求學過程中，我積極參加許多課外活動，從中培養多種才能與調整態度。
            </p>
            <p>
                我從小學習繪畫，除了表現手法技能的增進外，也培養對於美學作品的鑑賞能力；高中時參加吉他社、樂隊與擔任文書一職；大學時代擔任學生議會秘書、保健室義工；研究所階段在東吳推廣部學習平面設計、在復興設計學院學習工業設計。同時為了能心安心定、開啟智慧與更高的格局，我學習禪定、腹式呼吸，每天花些許時間沉澱心靈、檢視自己，以求突破。
            </p>
            <p>
                以上對我後來擔任前端工程師有非常大的幫助－面對行銷企劃，我能適時甚至提早加入討論並給予建議，協助夥伴思考活動流程、擴大聲量的方案、計畫後續相關資料的蒐集並回饋業務同仁和客戶；面對視覺或網頁設計師，我能理解美感上的需求，並靈活調整介面與特效以提供最好的效果呈現；面對後端工程師，由於學校的專業訓練主要仍以後端技術為主，因此也能溝通無礙。另外由於同時著重精神方面的修養，養成了時常檢視並調整自己、發掘自己的習慣。
            </p>
            <p>
                感恩種種的歷練，除了鍛鍊我<span class="highlight">細心、負責的特質，並開啟多面向觀察事物的能力，願意以同理心傾聽不同領域之間的需求，敏銳精準的處理各種狀況，與不同領域的夥伴無縫接軌，讓任何任務更臻完美</span>。
            </p>
        </p>
        @*初入社會*@
        <h3 class="heading">初入社會</h3>
        <p class="paragraph">
            研究所畢業後，我進入<a href="http://www.trendmicro.tw/tw/index.html" title="" target="_blank">趨勢科技</a>的HIE(Human Interface Engineering)工作，擔任前端工程師一職。主要工作內容是製作prototype，作為產品開發的雛型與易用性測試的驗證工具。
        </p>
        <p class="paragraph">
            在這段工作期間，除了技能更加專精外，也深刻領悟到時間管理、多元文化與職務間無縫溝通與合作的技巧和藝術。由於我在多種語言文化的工作環境之下常會遇到溝通上的難題，因此，每當我面對文化或溝通上的問題時，總是以樂觀的態度尋找解決方法，並積極參加語言的培訓課程，增進溝通能力。而這段期間最大的收穫，是讓我了解<span class="highlight">一個優秀的工程師，除了自身專業能力外，更重要的是持續培養多方軟硬實力，無分別心且全力以赴，真的會有最大的收穫</span>。
        </p>
        <div class="block-divider"></div>
        @*今日成果*@
        <h3 class="heading">今日成果</h3>	
        <p class="paragraph">
            過去我曾在<a href="http://www.friendo.com.tw/About/Springtrees" title="春樹科技" target="_blank">春樹科技</a>擔任前端工程師一職，同時負責部份後端開發，也是公司所有產品和專案的SEO & Social Media規劃者。
            基本上我對任何新鮮的事物都深感興趣，因此常藉由閱讀各平台文章和參加活動了解新事物並付諸行動。
        </p>
        <h4 class="heading">
            SEO &amp; Social Media－粉多任務網全站優化、Guideline訂定、跨部門協調
        </h4>
        <span class="pullquote-right">
            <img width="100%" src="https://goo.gl/IAySbQ" title="標籤雲" alt="標籤雲">
        </span>
        <p class="paragraph">
            <p>
                由於好學生的好學精神，加上無厘頭的創意發想，讓我在規劃公司的SEO Guideline時能更完整縝密、資源充分利用、使命必達。
            </p>
            <p>
                在近乎七個月的努力，<span class="highlight"><a href="http://www.friendo.com.tw" title="Friendo 粉多任務" target="_blank">Friendo粉多任務</a>在2014年與去年同期比較，Orgnaic Search流量成長超過7倍，且在無大型行銷活動期間，仍提供網站穩定的流量來源</span>。其中原因與完整的SEO　Guideline有密切關係－從網站IA和網頁結構、關鍵字挑選、文案撰寫、標籤經營、社群分享、友站支援、後續追蹤與調整，甚至是內部相關訓練主要皆由我負責和規劃、實踐。另外，我也負責部份ASO(App Store Optimization)的工作。
            </p>
            <p>
                這當中也感謝公司請了業界知名專家食夢黑貘的指導與協助，從前輩身上真的學到很多，不管是對資料的觀察、資料探勘技術的啟發、工具的挑選和使用等，都有莫大的收穫。另外也由於SEO的規劃，我培養了更多跨部門協調的能力，學習除了工程師之外，其他職務所說的語言。
            </p>
        </p>
        <h4 class="heading">Front-End Development－持續成長與貢獻</h4>
        <p class="paragraph">
            <p>
                作為前端工程師，我對任何新鮮的事物都深感興趣，因此無論在工作或休閒之餘都不斷學習新知，磨練技能。公司RD部門成立讀書會、部落格與社群，鼓勵大家研究並分享技術，因此我也學習了 AngularJS 、 EmberJS 、ReactJS 、 NodeJS  並持續應用在產品上。而除了前端任務外，我也會做部份的C#後端工作。另外，也帶領由前後端工程師組成的小型的專案團隊，產出高品質系統，且準時達成客戶目標。
            </p>
            <p>
                作為SEO & Socal Media負責人，由於產品和專案的需要大量使用Facebook Social Plugin & Graph API並將網站與之串接，並對Socal Media相關應用做研究與成效衡量，因此我認真研讀相關資訊，實作在實驗性網站或專案中，並撰寫文件與召開會議無私分享所知、提供內部訓練，同時在過程中與夥伴腦力激盪以激發更多火花、接收回饋，持續成長。
            </p>
        </p>
        <br><br>
        <p class="paragraph">
            目前我在<a href="http://www.uni-net.com.tw" target="_blank" title="Uni-Net 聯網國際　提供Web2.0建站及互動行銷服務">聯網國際</a>擔任前端工程師一職，負責活動報名平台「活動咖 EventPal」的網站企劃與實作，以及公司各專案的前端實作。
        </p>
        <h4 class="heading">活動咖 EventPal - 專業賽事、活動報名與購物平台，負責活動咖網站改版企劃與前端實作。</h4>
        <p class="paragraph">
            在網站企劃方面，重新設計首頁與搜尋頁的流程與功能，解決原本難以找到活動的問題；增加廣告版位，讓網站增加額外營收；以SEO/IA角度重新配置網站權重，讓更多好的內容露出；增加更多讓網站適於搜尋引擎或使用者好爬、好懂、好閱讀的功能，例如：標籤系統可增強網站內部連結、推薦更多活動給使用者以增加黏著度；網站大圖尺寸的規範適合社群平台分享等；設計適於行動裝置瀏覽的響應式網站，以好找（很快找到想要的活動）、好讀（舒適且快速看到重點，決定是否符合需求）、增強個人化功能（訂單、瀏覽記錄）為主要目標。
        </p>
        <p class="paragraph">
            在前端實作方面，為活動咖桌機版網站改版，前端程式碼調整與重構；使用結構化資料標註頁面，使網站在SERPs有更好的呈現效果；實作適於行動裝置瀏覽的響應式網站。除了前端實作外，也參與視覺設計的部份。
        </p>
        <h4 class="heading">公司各專案的前端實作</h4>
        <p class="paragraph">
            例如：楔石攝影怪兵器、台灣高鐵、VOLVING沐頤健康概念館、用聽的網頁‧933樂活網、2015國際奧林匹克路跑電子秩序冊。
        </p>
        <br><br>
        <p>
            工作相關可參考<a href="/Content/file/resume/Hsin_Hao_Tang_CV.pdf" title="Resume | Hsin-Hao Tang" target="_blank">履歷</a>。
        </p>
        <div class="block-divider"></div>
        @*生涯規劃*@
        <h3 class="heading">生涯規劃</h3>
        <p class="paragraph">
            未來希望能成為一位更優秀的工程師，甚至是全端工程師、資料科學家。因此和同事組了私人活動，藉由開書單讀書與討論、實作系統來一步步達成目標。<br>
            感謝爸媽家人、各領域的前輩和朋友們，讓我能夠持續突破而成為更好的人，有更多更廣的貢獻。
        </p>
        <div class="block-divider"></div>
        @*與我聯繫*@
		<h3>歡迎與我聯繫 :)</h3>
        <p>
            @Html.Partial("_ContactInfo")
        </p>
    </div>
</div>