@{
    Layout = "~/Views/Shared/_LayoutMe.cshtml";
    ViewBag.EnableSlider = true;
    ViewBag.Tab = "Index";
}
<style>#page-content .space{margin:10px 0 30px 0;}</style>
<div id="page-content" class="cf">
    <div class="entry-content cf space">
        <h3 class="heading">Hello! My name is Hsin-Hao Tang</h3>
        <p>
            I'm a front-end developer at <a href="http://www.friendo.com.tw/About/Springtrees" title="About Spring Trees Technologies" target="_blank">Spring Trees Technologies</a>.<br />
            I focus on client-side programming, specialize in SEO & social media, and also do back-end stuff.<br />
            Read more <a href="/Me/About" title="About Hsin-Hao Tang">about me</a> / <a href="/Me/About_C" title="關於 Hsin-Hao Tang">關於我</a>, <a href="/Me/Resume" title="Resume | Hsin-Hao Tang">my resume</a>, my <a href="http://cythilya.blogspot.tw" title="Summer。桑莫。夏天" target="_blank">blog posts</a> or view <a href="/Me/Portfolio" title="Portfolio | Hsin-Hao Tang">my portfolio</a>.
        </p>
    </div>
</div>
@Html.Partial("_Portfolio")