@{
    Layout = "~/Views/Shared/_LayoutMe.cshtml";
    ViewBag.Title = "Resume | Hsin-Hao Tang";
    ViewBag.Description = "Resume | Hsin-Hao Tang";
    ViewBag.Tab = "Resume";
}
<style>
body.home #main {
	font-size: 116%;
	padding-top: 30px;
	line-height: 2em;
}
.lists-check ul li {
	line-height: 2em;
}
</style>
<div id="page-content" class="cf">        	
	<div class="entry-content cf">
		<p>
			<h3 class="heading">SUMMARY</h3>
			<div class="lists-check">
				<ul>
					<li>Extensive knowledge in web design and web development</li>
					<li>Specializing in Search Engine Optimization (SEO) & Social Media</li>
					<li>Strong ability of cross-functional communication and coordination</li>
					<li>Goal-oriented, reliable, motivated, hard working, and attentive to details</li>				
				</ul>
			</div>					
		</p>
		<br>
		<p>
			<h3 class="heading">EDUCATION</h3>
			<div class="lists-check">
				<ul>
					<li>
						<h5>National Taiwan Normal University, Taipei Taiwan</h5>
						<h6>Sept. 2009 - June 2011</h6>
						Master of Engineering<br>
						Major: Computer Science and Information Engineering<br>
						Thesis: Artificial Intelligence Improvement of Liar Dice
					</li>
					<li>
						<h5>SooChow University, Taipei Taiwan</h5>
						<h6>Sept. 2003 - June 2008</h6>
						Bachelor of Business Administration<br>  
						Major: Computer and Information Science
					</li>
				</ul>
			</div>				
		</p>
		<br>
		<p>
			<h3 class="heading">EXPERIENCE</h3>
			<div class="lists-check">
				<ul>
					<li>
						<h5>Spring-Trees Technologies, Taipei Taiwan</h5>
						<h6>May 2012 - Present</h6>
						Front End Developer <br>
						Responsibilities:<br>
						<ul>
							<li>Front end development utilizing HTML, CSS and JavaScript. C# backend.</li>
							<li>On-site and off-site SEO & social media
								<ul>
									<li>On-site Optimization
										<ul>
											<li>Conducting keyword research on target markets' searching habits, and on-going competitive market analysis</li>
											<li>Devising and implementing effective SEO strategies and guideline on products with the goal of improving its overall visibility on the internet and in turn increasing revenue. <a href="http://bit.ly/1tue7uA" target="_blank" title="搜尋引擎優化指南(SEO Guideline) - 如何有系統的優化網站、評估與持續改進？">View guideline</a></li>
											<li>Conducting regular optimization of on-page structure and content on various product pages, including developing and optimizing semantics search, rich snippets and social meta tags, keywords and tags plan and management</li>
											<li>Analyzing site code, providing recommendations based on SEO best practices and enhancing by myself</li>
											<li>Developing SEO standards for usability design and coding</li>
										</ul>	
									</li>
									<li>Off-site Optimization
										<ul>
											<li>Procuring quality inbound links from blogs, forums and other relevant, content-specific sites</li>
											<li>Developing and managing link-building campaigns</li>
											<li>Incorporating social media optimization to augment the traditional SEO activities</li>
										</ul>												
									</li>
								</ul>										
							</li>
						</ul>
					</li>
					<li>
						<h5>Trend Micro, Taipei Taiwan</h5>
						<h6>Oct. 2011 – March 2012</h6>
						Front End Developer<br>
						Delivering rapid prototypes for early samples to test a concept or conduct a usability test							
					</li>
				</ul>
			</div>					
		</p>
		<br>
		<p>
			<h3 class="heading">TECHNICAL SKILLS</h3>
			<div class="lists-check">
				<ul>
					<li>Programming Languages: HTML, CSS, JavaScript, C#</li>
					<li>Pre-Processing Languages: SCSS</li>
					<li>JavaScript Libraries: jQuery, jQueryUI</li>
					<li>Structured Data: Microdata</li>
					<li>Source Code Control: TFS, Git</li>
					<li>Graphic Design Software: Adobe Photoshop, Illustrator</li>
					<li>Webmaster Tools: Google Webmaster Tools, Google Analytics, Bing Webmaster Tools...etc</li>
					<li>Web Principles & Methodologies: Cross-Browser Compatibility, Search Engine Optimization (SEO) & Social Media, Web Semantics, Usability</li>
				</ul>
			</div>					
		</p>
		<br>
		<p>
			<h3 class="heading">INTERESTS</h3>
			<p>
				Search engine optimization & social media, interaction design, user experience, usability, data mining, technology trends, movies and zen meditation.</li>
			</p>				
		</p>
		<br>				
	</div>
</div>
