@{
    Layout = null;
}
<!doctype html>
<html itemscope itemtype="http://schema.org/WebSite">
<head>
    <meta charset="utf-8">
    <title>Structured Data, Rich Snippets, and SEO | Hsin-Hao Tang</title>
    <meta name="Structured Data, Rich Snippets, and SEO" content="Structured Data, Rich Snippets, and SEO" />
    <meta itemprop="name" content="Structured Data, Rich Snippets, and SEO | Hsin-Hao Tang">
    <meta itemprop="description" content="Structured Data, Rich Snippets, and SEO">
    <meta itemprop="image" content="http://cythilya.apphb.com/Content/me/img/project/eventfamily/fami_index_940.png">
    <meta property="og:title" content="Structured Data, Rich Snippets, and SEO | Hsin-Hao Tang" />
    <meta property="og:description" content="Structured Data, Rich Snippets, and SEO" />
    <meta property="og:url" content="http://cythilya.apphb.com" />
    <meta property="og:site_name" content="Hsin-Hao Tang">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://cythilya.apphb.com/Content/me/img/project/eventfamily/fami_index_940.png" />
    <link rel="Shortcut Icon" type="image/x-icon" href="http://cythilya.apphb.com/Images/icon.ico">
    <link href="https://plus.google.com/u/0/+CythilyaTang/" rel="author">
    <link rel="stylesheet" href="/Content/seo_lab/structuredDataExample/skin/reset-font-min.css">
    <link rel="stylesheet" href="/Content/seo_lab/structuredDataExample/skin/clearfix.css">
    <link rel="stylesheet" href="/Content/seo_lab/structuredDataExample/skin/style.css">
</head>
<body>
    <div class="pageStructuredData">
        <div class="areaHeader area clearfix">
            <header class="header" itemscope itemtype="http://schema.org/WPHeader">
                <h1 class="logo" itemprop="name">
                    <a class="link" href="/" itemprop="url">Structured Data | Hsin-Hao Tang</a>
                </h1>
            </header>
            <nav class="navigation">
                <ul class="navList" itemscope itemtype="http://schema.org/SiteNavigationElement">
                    <li class="navItem">
                        <a class="navLink" href="http://cythilya.apphb.com" itemprop="url" target="_blank">
                            <span class="navName" itemprop="name">HOME</span>
                        </a>
                    </li>
                    <li class="navItem">
                        <a class="navLink" href="http://cythilya.apphb.com/Me/About" itemprop="url" target="_blank">
                            <span class="navName" itemprop="name">ABOUT</span>
                        </a>
                    </li>
                    <li class="navItem">
                        <a class="navLink" href="http://cythilya.apphb.com/Me/Resume" itemprop="url" target="_blank">
                            <span class="navName" itemprop="name">RESUME</span>
                        </a>
                    </li>
                    <li class="navItem">
                        <a class="navLink" href="http://cythilya.apphb.com/Me/Portfolio" itemprop="url" target="_blank">
                            <span class="navName" itemprop="name">PORTFOLIO</span>
                        </a>
                    </li>
                    <li class="navItem">
                        <a class="navLink" href="http://cythilya.blogspot.tw" itemprop="url" target="_blank">
                            <span class="navName" itemprop="name">BLOG</span>
                        </a>
                    </li>
                    <li class="navItem">
                        <a class="navLink" href="http://cythilya.apphb.com/Me/Contact" itemprop="url" target="_blank">
                            <span class="navName" itemprop="name">CONTACT	</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        @*
        <ul class="tagList area">
            <li class="item"><a class="link" href="#"><span class="text">Web</span> </a></li>
            <li class="item"><a class="link" href="#"><span class="text">RWD</span> </a></li>
            <li class="item"><a class="link" href="#"><span class="text">SEO</span> </a></li>
        </ul>
        *@
        <section class="activityList area">
            <article itemscope itemtype="http://schema.org/Event" class="activityItem">
				<a itemprop="url" class="activityLink" href="http://cythilya.apphb.com/Me/Project?id=17">
					<img itemprop="image" class="cover"  src="http://cythilya.apphb.com/Content/me/img/project/bbk_new_year/bbk_new_year_940x367.png">
                </a>
                <div itemprop="name">
                    <a itemprop="url" class="link" href="http://cythilya.apphb.com/Me/Project?id=17">讓心年在一起 - 漢堡王心年賀卡</a>
                </div>
                <div itemprop="description" class="description" >
                    新年是互相祝賀的節日，除了謝謝親朋好友們過去一年的照顧，同時也希望在新年每個人都能幸福快樂。現在動手製作漢堡王心年賀卡，傳遞感謝與祝福，還有機會抽美麗華電影票、可口可樂隨身碟等多項好禮！
                </div>
				<p><meta itemprop="startDate" content="2015-02-12T">Starts: Thur, 02/12/15</p>
				<p><meta itemprop="endDate" content="2015-03-22T">Ends: Sun, 03/22/15</p>
				<div itemprop="location" itemscope itemtype="http://schema.org/Place">
					<span itemprop="name">漢堡王敦南店</span><br>
					<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<span itemprop="streetAddress">大安區敦化南路二段164號</span>,
						<span itemprop="addressLocality">台北市</span>,
						<span itemprop="addressRegion">台灣</span>
					</div>
				</div>
            </article>
			<hr>
            <article itemscope itemtype="http://schema.org/Event" class="activityItem">
				<a itemprop="url" class="activityLink" href="http://cythilya.apphb.com/Me/Project?id=16">
					<img itemprop="image" class="cover"  src="http://cythilya.apphb.com/Content/me/img/project/dotchi_food/dotchi_940x367.png">
                </a>
                <div itemprop="name">
                    <a itemprop="url" class="link" href="http://cythilya.apphb.com/Me/Project?id=16">吃什麼，どっち - 讓朋友幫你決定吃什麼</a>
                </div>
                <div itemprop="description" class="description" >
					社交恐懼症的救星跨出了第一步 - 我們做了找吃東西地點的「吃什麼，どっち - 讓朋友幫你決定吃什麼」。
                </div>
				<p><meta itemprop="startDate" content="2015-01-30T">Starts: Fri, 01/30/15</p>
				<p><meta itemprop="endDate" content="2015-02-01T">Ends: Sun, 02/01/15</p>
				<div itemprop="location" itemscope itemtype="http://schema.org/Place">
					<span itemprop="name">YOUR SPACE</span><br>
					<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<span itemprop="streetAddress">光復南路102號3樓</span>,
						<span itemprop="addressLocality">台北市</span>,
						<span itemprop="addressRegion">台灣</span>
					</div>
				</div>
            </article>
        </section>
        <div class="fbPage"></div>
        <footer class="footer area">
            <ul itemscope itemtype="http://schema.org/WPFooter">
                <li><a href="https://www.facebook.com/cythilya" itemprop="url" target="_blank"><span itemprop="name">FB</span></a></li>
                <li><a href="https://plus.google.com/+CythilyaTang/posts" itemprop="url" target="_blank"><span itemprop="name">G+</span></a></li>
                <li><a href="https://www.linkedin.com/in/cythilya" itemprop="url" target="_blank"><span itemprop="name">Linkedin</span></a></li>
                <li><a href="https://twitter.com/cythilya" itemprop="url" target="_blank"><span itemprop="name">Twitter</span></a></li>
                <li><a href="http://instagram.com/cythilya" itemprop="url" target="_blank"><span itemprop="name">Instagram</span></a></li>
            </ul>
        </footer>
    </div>
    @*
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="js/script.js"></script>
    *@
</body>
</html>