.socialDemo .message {
  margin-left: 5px;
}

.socialDemo .friendList {
  margin-top: 20px;
}

.socialDemo .friendList .friend {
  border: 1px solid #666;
  float: left;
  width: 200px;
  height: 50px;
  margin: 0 20px 20px 0;
}

.socialDemo .friendList .friend img {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 10px 0 0;
}

.socialDemo .friendList .friend .name {
  color: #999;
  width: 118px;
  height: 20px;
  margin: 15px 0 0 0;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  float: left;
}