@{
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
<h2>CKEditorDemo</h2><hr />
<div id="ckeditorArea">
    <textarea id="editorTextarea" class="ckeditor"></textarea>
    <button class="btnSave">Save</button>
</div>
