@{
    ViewBag.Title = "D3.js - Bar Chart";
}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>D3.js - Bar Chart</title>
<link rel="stylesheet" href="/Content/css/reset-font-min.css">
<link rel="stylesheet" href="/Content/css/clearfix.css">
<link rel="stylesheet" href="/Content/ui/d3/css/style.css">
<script src="/Content/ui/d3/js/d3.min.js"></script>
</head>
<body>
<h1>D3.js - Bar Chart</h1>
<div class="barChart clearfix"></div>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="/Content/ui/d3/js/script.js"></script>
</body>
</html>
