@{
    ViewBag.Title = "FacebookLogin";
    ViewBag.Description = "Login Button, Customed Login, FB.Login()";
    Layout = "~/Areas/Social/Views/Shared/_LayoutFacebook.cshtml";
    //ViewBag.SharedImage = ""; 
}
<div id="page-content" class="cf">        	
	<div id="pageIndex" class="entry-content cf">
        <h2 class="heading">Login</h2>
        <div id="taggableFriends">
            <p class="message"></p>
            <div class="control">
                <a href="#" class="btnFBLogin"></a>
                <a href="#" class="btnShare link-button blue">Share with Taggable Friends</a>
            </div>
            <div class="friendList clearfix"></div>
        </div>
    </div>
</div>
