@{
    Layout = "~/Areas/Social/Views/Shared/_LayoutFacebook.cshtml";
    ViewBag.Title = "Social Demo - Facebook | Hsin-Hao Tang";
    ViewBag.Description = "A sample application that demonstrates how to use the Facebook JavaScript SDK and the Graph API.";
    //ViewBag.SharedImage = "";
}
<div id="page-content" class="cf">        	
	<div id="pageIndex" class="entry-content cf">
        <h2 class="heading">Social Demo - Facebook</h2>
        @* 範例功能列表 *@
        <div class="functionList">
		    <h3 class="heading">範例功能列表</h3>
		    <p class="dropcap dark">
                <a href="http://bit.ly/10bYQWV" target="_blank" title="Facebook Social Demo - User Info, Feeds, Friends, Post, Invite, Comments, Revoke Permissions">Facebook Social Demo - User Info, Feeds, Friends, Post, Invite, Comments, Revoke Permissions</a>
                <br>
                常用Graph API說明與Example Demo。
                <br>
                此Demo範例共有以下的頁面：首頁、關於我、Feed、Friends、Post、Invite、Check、Comment、Permission Revoke。
                <br>
            </p>
            <p class="dropcap dark">
                <a @*href="http://cythilya.apphb.com/Social/Facebook/TaggableFriends"*@ target="_blank" title="Facebook Graph API - Taggable Friends">Taggable Friends</a>
                <br>
                有鑑於IKEA做了一個好玩的活動網站來IKEA睡一晚，其中含有邀請朋友並標記、分享到Facebook上，因此也做了一個範例來玩玩。
                <br>
                內有程式碼說明、功能限制、範例。
            </p>
            <p class="dropcap dark">
                <a href="http://cythilya.apphb.com:52533/Social/facebook/UploadAndSetCover" target="_blank" title="Change Facebook Profile Picture With Graph API">Change Facebook Profile Picture With Graph API</a>
                <br>
                Change Facebook Profile Picture With Graph API。
                <br>
                內有程式碼說明、功能限制、範例。
            </p>
        </div>
        <br>
        @* 相關文章列表 *@
        <div class="articleList">
		    <h3 class="heading">相關文章列表</h3>
            <p class="dropcap dark">
                <a href="http://bit.ly/1weF9IN" target="_blank" title="Facebook Product Introduction">Facebook Product Introduction</a>
                本篇文章主題：Facebook產品總整理與功能說明(Social Plugins、Sharing、其他UI功能應用、Graph API功能應用、og相關、權限相關)、粉多網站的盤點與應用、成效衡量。
            </p>
            <br>
            <p class="dropcap dark">
                <a href="http://bit.ly/1qtutRh" target="_blank" title="Facebook Graph API & Demo Example">Graph API & Social Plugin Demo Example</a>
                <br>
                基本Social Plugin與Graph API解說，內有程式碼說明、功能限制、範例。
            </p>
            <br>
            <p class="dropcap dark">
                <a href="http://bit.ly/1xptGc3" target="_blank" title="Facebook Graph API - Taggable Friends">Taggable Friends</a>
                <br>
                有鑑於IKEA做了一個好玩的活動網站來IKEA睡一晚，其中含有邀請朋友並標記、分享到Facebook上，因此也做了一個範例來玩玩。
                <br>
                內有程式碼說明、功能限制、範例。
            </p>
            <br>
            @*
            <p class="dropcap dark">
                <a href="#" target="_blank" title=""></a>
            </p>            
            *@
        </div>
        @*
        <ul class="tabs">
	        <li><a href="#"><span>Tab number 1</span></a></li>
	        <li><a href="#"><span>Tab number 2</span></a></li>
	        <li><a href="#"><span>Tab number 3</span></a></li>
        </ul>
        <div class="panes">
	        <div>
		        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
	        </div>
	        <div>
		        <p>Mauris habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat s</p>
	        </div>
	        <div>
		        <p>Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. </p>
		        <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. </p>
	        </div>
        </div>
        <div class="block-divider"></div>
        *@
        @*
        <a href="#" class="loginFB link-button blue">Login Facebook</a>
        *@
    </div>
</div>
