<p>這陣子剛好在幫我們家的活動平台網站 <a href="https://www.eventpal.com.tw" target="_blank" title="活動咖 EventPal">活動咖 EventPal</a> 設計+製作行動裝置版網頁，因此參考了不少前輩的作品 - Accupass、KKTIX、Pinkoi、friDay等。在這裡記錄一些我對這些網站的想法，還有我們家產品所遇到的問題和設計的功能、解法。 </p>
<p>面對活動平台，基本上我不看精選或推薦活動/商品的，因為就是促銷而已，而這些促銷活動/商品往往無法勾起我的興趣；而個人化的推薦活動和樣本數有關，因此很可能推薦給我的也不是我真的喜歡的，因此無論如何最後我最常用的就是「搜尋」和「瀏覽」功能了。另外，個人化功能也很重要，例如訂單查詢、瀏覽記錄等。</p>
<p>活動很多，推薦又無法滿足需求，那麼搜尋和分類功能便是重點(讓我用最快的方式找到東西就好！)。活動平台的搜尋和分類不外乎就是找地區、時間、主題、關鍵字。找到之後，也能讓我很快的看到重點，決定是否符合需求。再來，如果能讓我快速看到目前的訂單狀態(是否購買成功、是否需要聯繫客服)，幫我備忘我曾瀏覽過的項目，那就再好不過了。  </p>
<p>因此，我所關注的重點是</p>
<div class="lists-check">
    <ul>
        <li><strong>好找</strong>(很快找到想要的活動)</li>
        <li><strong>好讀</strong>(舒適且快速看到重點，決定是否符合需求)</li>
        <li><strong>個人化功能</strong>(訂單、瀏覽記錄)</li>
    </ul>
</div>