<ul>
    <li>Email:&nbsp&nbsp<a href="mailto:cythilya@gmail.com" title="Email Hsin-Hao Tang" class="email" target="_blank">cythilya@gmail.com</a>  or <a href="/Me/Contact" itemprop="url" title="Use Contact Form"><span itemprop="name">use contact form</span></a></li>
    <li>FB:&nbsp&nbsp<a href="https://www.facebook.com/cythilya" title="Become a fan" class="facebook" target="_blank">https://www.facebook.com/cythilya</a></li>
    <li>G+:&nbsp&nbsp<a href="https://plus.google.com/+CythilyaTang" title="Enter my circles" class="plus" target="_blank">https://plus.google.com/+CythilyaTang</a></li>
    <li>LinkedIn:&nbsp&nbsp<a href="https://www.linkedin.com/in/cythilya" title="Connect" class="linkedin" target="_blank">https://www.linkedin.com/in/cythilya</a></li>
    <li>Twitter:&nbsp&nbsp<a href="https://twitter.com/cythilya" title="Follow Me on Twitter" class="twitter_bird" target="_blank">https://twitter.com/cythilya</a></li>
    <li>Instagram:&nbsp&nbsp<a href="https://instagram.com/cythilya" title="Follow Me on Instagram" class="instagram" target="_blank">https://instagram.com/cythilya</a></li>
    <li>Business Card:&nbsp&nbsp<a href="/Content/file/qr_code/qr_code_contact/qr_code_contact.html" title="Business Card" class="bcard" target="_blank">Business Card</a></li>
</ul>