@{
    Layout = "~/Areas/SEOLab/Views/Shared/_LayoutSEOLab.cshtml";
    ViewBag.Title = "Ember.js & SEO";
    int ID = ViewBag.TemplateID;
}
@if (ID == 1)
{ 
<script type="text/x-handlebars" data-template-name="productlist/index">
	{{#each itemController="product"}}
		<tr {{bindAttr class="status"}}>
			<td>
				{{#if isEditing}}
					{{edit-product class="form-control" value=no}}
				{{else}}
					{{no}}
				{{/if}}
			</td>
			<td>
				{{#if isEditing}}
					<img class="thumbnail" {{bindAttr src="cover" alt="name"}} width="80">
					<input type="file" id="uploadFile">									
				{{else}}
					<img class="thumbnail" {{bindAttr src="cover" alt="name"}} width="80">	
				{{/if}}
			</td>
			<td>
				{{#if isEditing}}
					{{edit-product class="form-control" value=name}}
				{{else}}
					{{{name}}}
					{{#if isHot}}
					     <img src="img/icon_hot.png" width="16">
					{{/if}}								
				{{/if}}
			</td>
			<td>
				{{#if isEditing}}
					{{edit-product class="form-control" value=category}}
				{{else}}
					{{category}}
				{{/if}}
			</td>
	    </tr>
	{{/each}}
</script>	
<script type="text/x-handlebars" data-template-name="productlist">
<section id="productapp">
	<div id="pageIndex" class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="page-header">
					<h1>
						Ember.js & SEO
						<!--
						<small>
							畫面載入時，利用JavaScript render 列表資訊。
						</small>
						-->
					</h1>
				</div>
				<p>After page loading, render some content.</p>
                <p><a href="/SEOLab/SEOLab/Index" title="Back to Index - Ember.js & SEO">Back to Index</a></p>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="no">編號</th>
							<th class="cover">預覽圖</th>
							<th class="name">名稱</th>
							<th class="category">描述</th>
						</tr>
					</thead>
					<tbody>
						{{outlet}}
					</tbody>
				</table>
			</div>
		</div>
		<!--
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<p>
						Reference
					</p>
					<ul>
						<li>
							<a href="http://emberjs.com/">Ember.js</a>
						</li>
						<li>
							<a href="http://www.ae.com/web/international/index.jsp">American Eagle Outfitters</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		-->		
	</div>
</section>	
</script>
}
else if (ID == 2)
{
<div id="pageIndex" class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Ember.js & SEO
					<!--
					<small>
						After page loading, render some content.
					</small>
					-->
				</h1>
			</div>
			<p>對照組，資料直接放在HTML上。</p>
            <p><a href="/SEOLab/SEOLab/Index" title="Back to Index - Ember.js & SEO">Back to Index</a></p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="no">編號</th>
						<th class="cover">預覽圖</th>
						<th class="name">名稱</th>
						<th class="category">描述</th>
					</tr>
				</thead>
				<tbody>
                    <tr>
                        <td>3509</td>
                        <td>
                            <img class="thumbnail" src="http://friendoprod.blob.core.windows.net/missionpics/images/main/f4887bf6-0ae8-4eee-b028-cf0a4f5aae84.jpg" alt="果蕊姊妹淘學院 - 測驗夏天的控油學分!" width="80">
                        </td>
                        <td><a href="http://www.friendo.com.tw/Mission/3509">果蕊姊妹淘學院 - 測驗夏天的控油學分!</a></td>
                        <td>夏天高溫襲擊，女孩的肌膚如臨大敵，臉部出油絕對是危害美麗肌膚的問題之一。快看看果蕊模範生 - 孟耿如學姊的臉部油切小絕招，完成任務，就有機會獲得果蕊控油系列商品試用組噢!</td>
                    </tr>
                    <tr>
                        <td>3478</td>
                        <td>
                            <img class="thumbnail" src="http://friendoimageserver.cloudapp.net/azure/missionpics/images/Editor/e371a3d4-75dc-4b0f-ba3a-5e6d59d57c57.jpg" alt="玉泉水果酒 - 愛呆丸快樂產生器！" width="80">
                        </td>
                        <td><a href="http://www.friendo.com.tw/Mission/3478">玉泉水果酒 - 愛呆丸快樂產生器！</a></td>
                        <td>愛呆丸的方式百百款，首重那份真心！玉泉水果酒是台酒與果農共同合作，選用各鄉當令水果釀造的在地美酒。身為台灣人的你，會怎樣愛呆丸的呢？快用拉霸找出自己的愛呆丸方式，還有機會獲得玉泉水果酒禮盒跟紅利50點唷！</td>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<p>
					Reference
				</p>
				<ul>
					<li>
						<a href="http://emberjs.com/">Ember.js</a>
					</li>
					<li>
						<a href="http://www.ae.com/web/international/index.jsp">American Eagle Outfitters</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	-->		
</div>
}
else
{
    <div class="Msg">No Data</div>
    <a href="/SEOLab/SEOLab/Index" title="Back to Index - Ember JS & SEO">Back to Index</a>
}
