@{
    ViewBag.Title = "SEO Experiments and Strategies for JavaScript-Heavy Single Page Applications or AJAX Sites";
    Layout = "~/Areas/SEOLab/Views/Shared/_LayoutSEOLab.cshtml";
}
<h1>SEO Experiments and Strategies for JavaScript-Heavy Single Page Applications or AJAX Sites</h1>
<ul>
    <li><a href="/SEOLab/SEOLab/EmberJSSEO?id=1" title="Ember.js & SEO - 畫面載入時，利用JavaScript render 列表資訊">畫面載入時，利用JavaScript render 列表資訊</a></li>
    <li><a href="/SEOLab/SEOLab/EmberJSSEO?id=2" title="標題改為：Ember.js & SEO - 對照組，資料直接放在HTML上">對照組，資料直接放在HTML上</a></li>
</ul>
