@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SEOLab/Views/Shared/_LayoutSEOLab.cshtml";
}
<h1>SEO Strategies for JavaScript-Heavy Single Page Applications or AJAX Sites</h1>
<ul>
    <li><a href="/SEOLab/SEOLab/EmberJSSEO?id=1" title="Ember JS & SEO - 頁面載入時，Render內容">頁面載入時，Render內容</a></li>
</ul>
