.paragraph{
	margin-bottom: 20px;
	&.preview{
		max-width: 600px;
	}
	.cover{
		width: 100%;
	}
}
#portfolio-content{
	margin-bottom: 0;
	#project-box{
		.entry-content{
		    width: 680px;
		    word-wrap:break-word;
		    word-break:break-all;
		    .heading{
				line-height: 1.2;
		    }
		}
	}
}

@media all and (max-width: 960px){
	#portfolio-content{
		#project-box{
			.entry-content{
			    width: 90%;
			}
		}
	}
}