.paragraph {
  margin-bottom: 20px;
}
.paragraph.preview {
  max-width: 600px;
}
.paragraph .cover {
  width: 100%;
}

#portfolio-content {
  margin-bottom: 0;
}
#portfolio-content #project-box .entry-content {
  width: 680px;
  word-wrap: break-word;
  word-break: break-all;
}
#portfolio-content #project-box .entry-content .heading {
  line-height: 1.2;
}

@media all and (max-width: 960px) {
  #portfolio-content #project-box .entry-content {
    width: 90%;
  }
}
