<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Node.js: To-Do List with Express</title>
<meta name="description" content="Node.js: To-Do List width Express">
</head>
<body>
<%- body %>
</body>
</html>