<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>E-Shopper</title>
<meta name="description" content="E-Shopper" />
<link rel="Shortcut Icon" type="shortcut icon" href="/Content/eshopper/images/icon.ico">	
<!--<meta name="author" content="">-->

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="E-Shopper">
<meta itemprop="description" content="E-Shopper">
<meta itemprop="image" content="images/happy_birthday_gift.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="E-Shopper" />
<meta property="og:description" content="E-Shopper" />
<meta property="og:url" content="http://cythilya.apphb.com/EShopper" />
<meta property="og:site_name" content="EShopper">
<meta property="og:type" content="website" />
<meta property="og:image" content="/Content/images/happy_birthday_gift.jpg" />