@using cythilya.Areas.EShopper.Models;
@{
    List<ProductCategory> categoryList = ViewBag.CategoryList as List<ProductCategory>;
}
<div class="left-sidebar">
    <h2>Category</h2>
    <div class="panel-group category-products" id="accordian">
        @if (categoryList != null)
        {
            foreach (var item in categoryList)
            {
 	        <div class="panel panel-default">
		        <div class="panel-heading">
			        <h4 class="panel-title"><a href="/EShopper/Home/Category?id=@(item.ID)" title="@(item.Name)">@(item.Name)</a></h4>
		        </div>
	        </div>
            }
        }
	    @* 含有子類別的樣板*@
        @*
        <div class="panel panel-default">
		    <div class="panel-heading">
			    <h4 class="panel-title">
				    <a title="" data-toggle="collapse" data-parent="#accordian" href="#sportswear">
					    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
					    Sportswear
				    </a>
			    </h4>
		    </div>
		    <div id="sportswear" class="panel-collapse collapse">
			    <div class="panel-body">
				    <ul>
					    <li><a href="shop.html" title="">Nike</a></li>
					    <li><a href="shop.html" title="">Under Armour</a></li>
					    <li><a href="shop.html" title="">Adidas</a></li>
					    <li><a href="shop.html" title="">Puma</a></li>
					    <li><a href="shop.html" title="">ASICS</a></li>
				    </ul>
			    </div>
		    </div>
	    </div>
        *@
        @* 不含子類別的樣板 *@
        @*
	    <div class="panel panel-default">
		    <div class="panel-heading">
			    <h4 class="panel-title"><a href="shop.html" title="">Kids</a></h4>
		    </div>
	    </div>
        *@
    </div>
    @* 品牌區塊, 未來會實作功能 *@
    @*
    <div class="brands_products">
	    <h2>Brands</h2>
	    <div class="brands-name">
		    <ul class="nav nav-pills nav-stacked">
			    <li><a href="shop.html" title=""><span class="pull-right">(50)</span>Acne</a></li>
			    <li><a href="shop.html" title=""><span class="pull-right">(56)</span>Grüne Erde</a></li>
			    <li><a href="shop.html" title=""><span class="pull-right">(27)</span>Albiro</a></li>
			    <li><a href="shop.html" title=""><span class="pull-right">(32)</span>Ronhill</a></li>
			    <li><a href="shop.html" title=""><span class="pull-right">(5)</span>Oddmolly</a></li>
			    <li><a href="shop.html" title=""><span class="pull-right">(9)</span>Boudestijn</a></li>
			    <li><a href="shop.html" title=""><span class="pull-right">(4)</span>Rösch creative cul</a></li>
		    </ul>
	    </div>
    </div>
    *@
    @* price-range, 未來會實作功能 *@
    @*
    <div class="price-range">
	    <h2>Price Range</h2>
	    <div class="well text-center">
			    <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
			    <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
	    </div>
    </div>
    *@
    @* AD *@
    @*未來希望置換為專門的廣告頁面，下有推薦商品*@
    <div class="shipping text-center">
	    <a href="/EShopper/Home/Product?id=1" title="EShopper - Free Shipping"> 
		    <img src="/Content/eshopper/images/home/shipping.jpg" title="EShopper - Free Shipping" alt="EShopper - Free Shipping" />
	    </a>
    </div>
</div>